@font-face { font-family: Poppins; src: url('../fonts/Poppins-Regular.ttf'); } 
@font-face { font-family: Poppins-Bold; src: url('../fonts/Poppins-Black.ttf'); } 

*{
    font-family: 'Poppins';
}

body{
    margin: 0;
    background-color: #1B2631;
    background-image: url("../images/bg_element.png");
}
.icon-container{
    position: fixed;
    padding: 20px;
    color: rgba(255, 255, 255, 0.479);
    height: 100%;
    width: 20px;
    align-content: space-between;
}
.icon{
    margin-top: 450px;
}
.icon a{
    color: rgba(255, 255, 255, 0.356);
}
i{  
    margin-bottom: 25px;
}
i:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.bar{
    margin-left: 6px;
    width: 3px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
}
/* end of sidebar */

/* navbar css */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;
    color: white;
    font-size: 25pt;
    padding-left: 20px;
    height: 60px;
}
.web-icon i {
    margin-top: 20px;
}
.web-title{
    margin-bottom: 30px;
}
.web-title a{
    color: white;
    font-size: 13pt;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 20px;
}
.web-title a:hover{
    color: aquamarine;
}
/* end of navbar */

/* ccontent container css */
.content-container{
    margin-top: 50px;
    margin-left: 100px;
}
@keyframes typing {
    from { width: 0 }
    to { width: 165px }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
.greeting-text{
    width: 165px;
    overflow: hidden;
    border-right: .15em solid orange;
    font-family: 'Consolas';
    color: aquamarine;
    white-space: nowrap;
    animation: 
        typing 2.5s steps(40, end), 
        blink-caret .75s step-end infinite;
}
.greeting-title{
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 50pt;
    color: rgba(255, 255, 255, 0.733);
}
.greeting-description{
    color: rgba(255, 255, 255, 0.473);
}
.mydesk {
    color: aquamarine;
    text-decoration: none;
}
.portal{
    height: 20px;
}
.dog-container{
    margin-top: 400px;
}
.portal{
    margin-left: -10px;
}
.dog{
    margin-left: -14px;
}
.portal-right{
    margin-left: -18px;
}
.mydesk-button-container{
    margin-top: 20px;
}
.mydesk-button{
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid aquamarine;
    color: aquamarine;
    background-color: transparent;
}
.mydesk-button:hover{
    background-color: aquamarine;
    color: #1B2631;
    cursor: pointer;
}
.troll{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.336);
}
.troll a{
    color: aquamarine;
    text-decoration: none;
}
/* end of content */

/* footer css */

/* end of footer */

@media screen and (max-width: 500px){
    body{
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        background-position: center;
    }
    .navbar{
        display: none;
    }
    .greeting-title{
        font-size: 30pt;
    }
    .greeting-description{
        font-size: 10pt;
    }
}